{% extends 'base.html' %}
{% block content %}
{% load static %}

<h4><em>About Poe</em></h4>

<p>We believe creating a public domain where people can share their love for poetry is a great way for people to connect and collaborate based on a common interest.</p>

<p>But when it comes to it, well styled and well edited poems get seen by more people. However, there are many skilled writers who aren’t equipped to style their poems with difficult editing software, which is where we come in.
</p>
<p>
POE allows users with novice editing skills create beautiful themes for their poems without having to use multiple external editing applications. With a few clicks the theme will be automatically applied to the the content of their piece. After that, the artist can save their work and start sharing it!
</p>

{% endblock %}