{% extends 'base.html' %}
{% block content %}
{% load static %}

<div>
  <span><em>{{ poem.title }}</em></span>
  <p>By: {{request.user.username}}</p>
  <div>
    <p>{{ poem.poem }}</p>
  </div>
</div>
<a href="{% url 'poes_update' poem.id %}">Edit</a>
<a href="{% url 'poes_delete' poem.id %}">Delete</a>
<!-- if a photo exists, show it with a for loop and disable form, if it doesnt exist show form  -->

{% for photo in poem.photo_set.all %}
    <img class="responsive-img card-panel" src="{{photo.url}}">
{% empty %}
    <p>No Photos Uploaded</p>
{% endfor %}

<form action="{% url 'add_photo' poem.id %}" enctype="multipart/form-data" method="POST">
    {% csrf_token %}
    <input type="file" name="photo-file">
    <br><br>
    <input type="submit" value="Upload Photo">
</form>
<br><br>

<div>
  <table>
    <thead>
      <tr>Comments:</tr>
    </thead>
    <tbody>
      {% for comment in poem.comment_set.all %}
      <tr>
        <td><em>{{request.user.username}}:</em> {{comment.text}}</td>
      </tr>
      {% empty %}
      <p>No comments yet!</p>
      {% endfor %}
    </tbody>
  </table>
  <form action="{% url 'add_comment' poem.id %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" class="btn" value="Add Comment">
  </form>
</div>
{% endblock %}