{% extends 'base.html' %}
{% block content %}
      <div>
        <span><em>{{ poem.title }}</em></span>
        <p>posted by: (user id) {{ poem.user_id }}</p>
        <p>Poem: {{ poem.poem }}</p>
      </div>
      <a href="{% url 'poes_update' poem.id %}">Edit</a>
      <a href="{% url 'poes_delete' poem.id %}">Delete</a>
<div>
  <form action="{% url 'add_comment' poem.id %}" method="post">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" class="btn" value="Add Comment">
  </form>
      <table>
        <thead>
          <tr>Comments:</tr>
        </thead>
        <tbody>
          {% for comment in poem.comment_set.all %}
          <tr>
            <td>{{comment.text}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}
